<html>
   <body>
      <h3>Constituent {{id_number}} ACC form uploaded on {{upload_date}} </h3>
      <table style="width:100%">
        <tr>
          <th>Summons</th>
          <th>Hearing Requested</th>
          <th>Court</th>
          <th>Arrest Status of Accused</th>
          <th>Arrest Date</th>
          <th>Officer ID No.</th>
          <th>Agency</th>
          <th>Type</th>
          <th>Name</th>
          <th>Birth Surname</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>Place of Birth</th>
          <th>Social Security No.</th>
          <th>PCF No.</th>
          <th>SID</th>
          <th>Marital Status</th>
          <th>Driver's License No.</th>
          <th>Driver's License State</th>
          <th>Driver's License Exp. Year</th>
          <th>Gender</th>
          <th>Race</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Eyes</th>
          <th>Hair</th>
          <th>Ethnicity</th>
          <th>Primary Language</th>
          <th>Complexion</th>
          <th>Scars/Marks/Tattoos</th>
          <th>Employer Name</th>
          <th>School Name</th>
          <th>Day Phone</th>
          <th>Mother Name</th>
          <th>Mother Maiden Name</th>
          <th>Father Name</th>
          <th>Complainant Type</th>
          <th>Police Dept.</th>
        </tr>
        <tr>
          <td>{{form.summons}}</td>
          <td>{{form.hearing_requested}}</td>
          <td>{{form.court}}</td>
          <td>{{form.arrest_status_of_accused}}</td>
          <td>{{form.arrest_date}}</td>
          <td>{{form.in_custody}}</td>
          <td>{{form.officer_id_num}}</td>
          <td>{{form.agency}}</td>
          <td>{{form.type}}</td>
          <td>{{form.name}}</td>
          <td>{{form.birth_surname}}</td>
          <td>{{form.address}}</td>
          <td>{{form.date_of_birth}}</td>
          <td>{{form.place_of_birth}}</td>
          <td>{{form.ssn}}</td>
          <td>{{form.pcs_num}}</td>
          <td>{{form.sid}}</td>
          <td>{{form.marital_status}}</td>
          <td>{{form.driver_license_num}}</td>
          <td>{{form.driver_license_state}}</td>
          <td>{{form.driver_license_exp}}</td>
          <td>{{form.gender}}</td>
          <td>{{form.race}}</td>
          <td>{{form.height}}</td>
          <td>{{form.weight}}</td>
          <td>{{form.eyes}}</td>
          <td>{{form.hair}}</td>
          <td>{{form.ethnicity}}</td>
          <td>{{form.primary_language}}</td>
          <td>{{form.complexion}}</td>
          <td>{{form.scars_marks_tattoos}}</td>
          <td>{{form.employer_name}}</td>
          <td>{{form.school_name}}</td>
          <td>{{form.day_phone}}</td>
          <td>{{form.mother_name}}</td>
          <td>{{form.mother_maiden_name}}</td>
          <td>{{form.father_name}}</td>
          <td>{{form.complainant_type}}</td>
          <td>{{form.police_department}}</td>
        </tr>
      </table>
      
   </body>
</html>