<html>
   <body>
      <h3>Forms must be file type: png, jpg, or gif</h3>
      <form action = "/upload" method = "POST" 
         enctype = "multipart/form-data">
         <h1>Criminal Complaint Form</h1>
         <input type = "file" name = "cc" />
         
         <h1>Application for Criminal Complaint</h1>
         <input type = "file" name = "acc" />
         
         <h1>Incident Report</h1>
         <input type = "file" name = "ir" />
         <br>
         <br>
         <input type = "submit"/>
      </form>   
   </body>
</html>