<html>
   <body>
      <h3><u>Forms must be file type: png, jpg, or gif</u></h3>
      <form action = "/upload" method = "POST" 
         enctype = "multipart/form-data">
         <h1>Criminal Complaint Form</h1>
         <input type = "file" name = "cc" />
         
         <h1>Application for Criminal Complaint</h1>
         <input type = "file" name = "acc" />
         
         <h1>Incident Report</h1>
         <input type = "file" name = "ir" />

         <br>
         <br>

         <h4><u>Optionals</u></h4>
         <h1>Arrest Booking Form</h1>
         <input type = "file" name = "abf" />

         <h1>Miranda Form</h1>
         <input type = "file" name = "mf" />

         <h1>Probation Record</h1>
         <input type = "file" name = "pr" />

         <br>
         <br>
         <input type = "submit"/>
      </form>   
   </body>
</html>